
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}
body{
    background-color: black;
    z-index: -2;
}

section{
    padding: 3rem 0;
}

.hello{
    font-family: 'Montserrat', sans-serif;
    color: rgb(254, 245, 232);
    position: absolute;
    font-size: 110px;
    top: 200px;
    left: 100px;
    z-index: 1;
}
.section-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(254, 245, 232);
    text-transform: uppercase;
    display: block;
    font-size: 240%;
 
}
.about{
    min-width: 100vw;
    min-height: 100vh;
    
}
.container{
    margin-inline: auto;
    width: min(90%, 70.5rem);
    display: flex;
    flex-direction: row;
    background-color: black;

    /* overflow: hidden; */
}
.left-b{
    display: flex;
    padding-left: 5rem;
    margin: 2rem auto;
    max-width: 40%;
    height: auto;
    text-align: justify;
    line-height: 100%;
    font-size: 150%;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: white;
}
.right-b{
    padding-left: 8rem; 
    margin: 2rem auto;
    width: 100%;
    height: 100%;
    float: left;
    display: grid;
} 
 p{
    margin-bottom: 1em;
}
/* img{
    max-width: 100%;
} */
.image-div{
    width: 100%;
    max-width: 260px;
    height: 100%;
    max-height: 200px;
    border: 2px solid black;
    background-size: auto;
    background-position: center;
    border-radius: 10%;
}
.image-div:hover{
    opacity: 0.75;
}

.projects{
    min-width: 100vw;
    min-height: 100vh;
}

.left-div{
    color: white;
    position: relative;
    top: 20px;
    width: 33%;
    height: 80vh;
    margin-right: 10px;
    border-radius: 6%;
    background-image: linear-gradient(to top, #bdc3c7,#2c3e50);
    /* z-index: -1; */
}
.left-div:hover{
    opacity: 0.7;
}
.mid-div:hover{
    opacity: 0.7;
}
.right-div:hover{
    opacity: 0.7;
}
/* .p1{
    position: relative;
    top: 100px;
    text-align: justify;
    line-height: 150%;
    width: 90%;
    left: 20px;
    text-align: center;
    font-size:large;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: white;
}
.p2{
    bottom: 400px;
    position: relative;
    text-align: justify;
    line-height: 150%;
    width: 90%;
    left: 20px;
    text-align: center;
    font-size:large;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: white;
}
.p3{
    position: relative;
    top: 100px;
    text-align: justify;
    line-height: 150%;
    width: 90%;
    left: 20px;
    text-align: center;
    font-size:large;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: white;
}
.left-div > div{
    color: white;
    position: relative;
    width: 115%;
    height: 40%;
    right: 20px;
    background-image: url(rain.png);
    background-size: cover;
    background-position: center;

} */

.mid-div{
    color: white;
    position: relative;
    top: 20px;
    width: 33%;
    height: 80vh;
    background-image: linear-gradient(to bottom, #141e30,#243b55);
    margin-right: 10px;
    border-radius: 6%;
}
.mid-div > div{
    position: relative;
    width: 100%;
    height: 66%;
    top: 350px;
    /* background-image: url(dc1.png);
    background-size: cover;
    background-position: center; */

}
.right-div{
    color: white;
    position: relative;
    top: 20px;
    width: 32%;
    height: 80vh;
    background-image: linear-gradient(to top, #000428,#004e92);
    border-radius: 6%;
}
.right-div > div{
    position: relative;
    width: 90%;
    left: 20px;
    height: 50%;
    background-image: url(dc3.png);
    background-size: cover;
    background-position: center;

}

.education{
    min-width: 100vw;
    min-height: 100vh;
}

.uni{
    position: relative;
    top: 20px;
    width: 50%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    opacity: 0.5;
    background-image: url(u.png);
}
.uni:hover{
    opacity: 0.4;
}
.right-edu{
    margin: 5rem;
    color: white;
    width: 40%;
    height: 40vh;
    border: 8px dotted lightgrey;
    border-radius: 10%;
}

.menu-wrap{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 16px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap, .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/*top and bottom lines of hamburger*/
.menu-wrap, .hamburger >div::before,
.menu-wrap, .hamburger >div::after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.main-wrap ,.hamburger > div::after{
    top: 10px;
}

/*animmation*/
.main-wrap, .toggler:checked + .hamburger >div {
    transform: rotate(135deg);
}
/*turn lines into X*/

.main-wrap, .toggler:checked + .hamburger >div::before,
.main-wrap, .toggler:checked + .hamburger >div::after{
    top: 0;
    transform: rotate(90deg);
}
.main-wrap, .toggler:checked:hover + .hamburger >div {
    transform: rotate(225deg);
}

/* show menu */
.menu{
    position:absolute;
    left:0;
    top:36px;
    z-index:1;
    visibility:hidden;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:400ms ease;
    -moz-transition:400ms ease;
    -o-transition:400ms ease;
    transition:400ms ease;

}
.lists, li{
    display: inline-block;
    padding: 0 80px;
}
.lists{
    list-style: none;
    position: relative;
    top: -14px;
    left: 40px;
}
.lists, a{
    text-decoration: none;
    color: rgb(254, 245, 232);
    font-size: medium;
}
.toggler:checked ~ .menu{
    visibility: visible;
    opacity: 1;
}


.bg{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.section-bg{
    width: 20vw;
    height: 25vh;
    background-color: black;
    background-size: cover;
    background-position:center;
    z-index: -1;
}
.man{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    object-fit: cover;
    opacity: 0.5;
   
}
a:hover{
    color: red;
}
footer{
    color: white;
    text-align: center;
}
.social-section{
    width: 100vw;
    height: 50vh;
    background-image: linear-gradient(to bottom,#000000,#0f2c4b);
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
.socials{
    margin: 25px 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 250%;
}
.media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    margin: 0 auto;
}
.media-icon{
    position: relative;
    top: 70px;
    margin: 0 7.5px;
}
.email{
    position: relative;
    top: 10%;
    font-size: 120%;
}
.end{
    position: fixed;
    bottom: 30px;
    left: 592px;
    opacity: 0.3;
}
h3{
    text-align: center;
}


/*phone view*/
@media only screen and (max-width: 600px){
    
    .right-b, .image-div{
       display: none;
    }
    .left-b{
        min-width: 100%;
        text-align: center;
        justify-content: space-evenly;
        /* margin: 15px 15px; */
        line-height: 150%;
        letter-spacing: normal;
        display: contents;
    }
    .left-b > p{
        margin: 15px;
    }
    #project-container{
        display: flex;
        flex-direction: column;
    }
    .left-div, .mid-div, .right-div{
        min-width: 100%;
        height: 33%;
        padding: 1.5rem;
        margin: 1rem;
    }
    #edu-container{
        flex-direction: column;
    }
    .uni{
       width: 100%;
        height: 50vh;
    }
    .right-edu{
        width: 100%;
        margin: 4rem auto;
    }
}